<%- include('partials/head.ejs') %>

    <div class="container col-8 page-top">
        <form id="main-form" autocomplete="off" action="/register" method="post">
            <div class="mb-3">
                <label for="firstName" class="form-label">First Name <span
                        class="fs-6 text-danger">(Required)</span></label>
                <input type="text" class="form-control form-control-lg text-input form-active" id="firstName"
                    name="firstName" required>
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Last Name <span
                        class="fs-6 text-danger">(Required)</span></label>
                <input type="text" class="form-control form-control-lg text-input" id="lastName" name="lastName"
                    required>
            </div>
            <div class="mb-3">
                <label for="doby" class="form-label">Date 0f Birth <span
                        class="fs-6 text-danger">(Required)</span></label>
                <div class="input-group dob-container">
                    <input type="number" class="form-control form-control-lg number-input" id="dobd" name="dobd"
                        placeholder="dd" min=1 max=31 step=1 maxlength="2" required>
                    <input type="number" class="form-control form-control-sm number-input" id="dobm" name="dobm"
                        placeholder="mm" min=1 max=12 step=1 reqiured>
                    <input type="number" class="form-control form-control-sm number-input" id="doby" name="doby"
                        placeholder="yyyy" min=1944 step=1 required>
                </div>

            </div>

            <div class="mb-3">
                <label for="address" class="form-label">Door Number & Street Name <span
                        class="fs-6 text-danger">(Required)</span></label>
                <input type="text" class="form-control form-control-lg text-input" id="address" name="address" required>
            </div>
            <div class="mb-3">
                <label for="postcode" class="form-label">Postcode <span
                        class="fs-6 text-danger">(Required)</span></label>
                <input type="text" class="form-control form-control-lg text-input text-uppercase" id="postcode"
                    name="postcode" required>
            </div>

            <div class="mb-3">
                <label for="contactName" class="form-label">Emergency Contact Name <span
                        class="fs-6 text-danger">(Required)</span></label>
                <input type="text" class="form-control form-control-lg text-input" id="contactName" name="contactName"
                    required>
            </div>
            <div class="mb-3">
                <label for="contactNumber" class="form-label">Emergency Contact Number <span
                        class="fs-6 text-danger">(Required)</span></label>
                <input type="text" class="form-control form-control-lg number-input text-uppercase" id="contactNumber"
                    name="contactNumber" required>
            </div>

            <div class="mb-3">
                <label for="ethnicity" class="form-label">Ethnicity <span
                        class="fs-6 text-danger">(Required)</span></label>
                <input type="text" class="form-control form-control-lg select-input" id="ethnicity" name="ethnicity"
                    required>
            </div>
            <div class="mb-3">
                <label for="gender" class="form-label">Gender <span class="fs-6 text-danger">(Required)</span></label>
                <input type="text" class="form-control form-control-lg select-input" id="gender" name="gender" required>
            </div>
            <div class="mb-3">
                <label for="language" class="form-label">Home Language <span
                        class="fs-6 text-danger">(Required)</span></label>
                <input type="text" class="form-control form-control-lg select-input" id="language" name="language"
                    required>
            </div>
            <div class="mb-3">
                <label for="religion" class="form-label">Religion <span
                        class="fs-6 text-danger">(Required)</span></label>
                <input type="text" class="form-control form-control-lg select-input" id="religion" name="religion"
                    required>
            </div>
            <div class="mb-3">
                <label for="school" class="form-label">School <span class="fs-6 text-danger">(Required)</span></label>
                <input type="text" class="form-control form-control-lg select-input" id="school" name="school" required>
            </div>

            <div class="mb-3">
                <label for="medical" class="form-label">Known Medical Conditions</label>
                <input type="text" class="form-control form-control-lg text-input" id="medical" name="medical">
            </div>
            <div class="mb-3">
                <label for="diet" class="form-label">Dietary Requirements</label>
                <input type="text" class="form-control form-control-lg text-input" id="diet" name="diet">
            </div>

            <% if (qty==='one' ) { %>

                <div class="row">
                    <div class="mb-3 d-grip gap-2 col-6 mx-auto">
                        <button type="button" class="btn btn-danger btn-lg btn-xl fs-2">Cancel</button>
                    </div>
                    <div class="mb-3 d-grip gap-2 col-6 mx-auto">
                        <button class="btn btn-success btn-lg btn-xl fs-2">Finish</button>
                    </div>
                </div>

                <% } else if (qty==='many' ) { %>
                    <div class="row">
                        <div class="mb-3 d-grip gap-2 col-6 mx-auto">
                            <button type="button" class="btn btn-danger btn-lg btn-xl fs-2">Cancel</button>
                        </div>
                        <div class="mb-3 d-grip gap-2 col-6 mx-auto">
                            <button type="button" class="btn btn-success btn-lg btn-xl fs-2">Add Another</button>
                        </div>
                        <div class="mb-3 d-grip gap-2 col-6 mx-auto">
                            <a type="submit" class="btn btn-success btn-lg btn-xl fs-2">Finish</a>
                        </div>
                    </div>
                    <% } %>


        </form>

    </div>

    <div id="ethnicity-select" class="selection-board hide">
        <div class="select-header bg-primary text-white">
            <h3 class="h3 bg-primary text-white">Select One</h3>
            <div class="input-group mb-3 col">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-funnel"></i></span>
                <input type="text" class="form-control text-input filter-input" placeholder="Type to Filter..."
                    aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>

        <div class="container">
            <ul class="list-group">
                <% for (let ethnicity of selections['ethnicities']) { %>
                    <li class="list-group-item">
                        <%- ethnicity %>
                    </li>
                    <% } %>
            </ul>
        </div>
    </div>

    <div id="gender-select" class="selection-board hide">
        <div class="select-header bg-primary text-white">
            <h3 class="h3 bg-primary text-white">Select One</h3>
            <div class="input-group mb-3 col">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-funnel"></i></span>
                <input type="text" class="form-control text-input filter-input" placeholder="Type to Filter..."
                    aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>

        <div class="container">
            <ul class="list-group">
                <% for (let gender of selections['genders']) { %>
                    <li class="list-group-item">
                        <%- gender %>
                    </li>
                    <% } %>
            </ul>
        </div>
    </div>

    <div id="language-select" class="selection-board hide">
        <div class="select-header bg-primary text-white">
            <h3 class="h3 bg-primary text-white">Select One</h3>
            <div class="input-group mb-3 col">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-funnel"></i></span>
                <input type="text" class="form-control text-input filter-input" placeholder="Type to Filter..."
                    aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>

        <div class="container">
            <ul class="list-group">
                <% for (let language of selections['languages']) { %>
                    <li class="list-group-item">
                        <%- language %>
                    </li>
                    <% } %>
            </ul>
        </div>
    </div>

    <div id="religion-select" class="selection-board hide">
        <div class="select-header bg-primary text-white">
            <h3 class="h3 bg-primary text-white">Select One</h3>
            <div class="input-group mb-3 col">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-funnel"></i></span>
                <input type="text" class="form-control text-input filter-input" placeholder="Type to Filter..."
                    aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>

        <div class="container">
            <ul class="list-group">
                <% for (let religion of selections['religions']) { %>
                    <li class="list-group-item">
                        <%- religion %>
                    </li>
                    <% } %>
            </ul>
        </div>
    </div>

    <div id="school-select" class="selection-board hide">
        <div class="select-header bg-primary text-white">
            <h3 class="h3 bg-primary text-white">Select One</h3>
            <div class="input-group mb-3 col">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-funnel"></i></span>
                <input type="text" class="form-control text-input filter-input" placeholder="Type to Filter..."
                    aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>

        <div class="container">
            <ul class="list-group">
                <% for (let school of selections['schools']) { %>
                    <li class="list-group-item">
                        <%- school %>
                    </li>
                    <% } %>
            </ul>
        </div>
    </div>

    <%- include('partials/scroll.ejs') %>

        <%- include('partials/keyboard.ejs') %>
            <%- include('partials/keypad.ejs') %>

                <script src="/js/axios.js"></script>
                <script src="/js/form_global.js"></script>
                <script src="js/app.js"></script>
                <script src="js/scroll.js"></script>

                <%- include('partials/footer.ejs') %>